<div class="container">
  <br />
  <h2>Administrare destinatii</h2>
  <br />

  <div *ngIf="isAddingDestination">
    <form [formGroup]="addDestinateForm" (ngSubmit)="onAddDestinatie()">
      <div class="form-group">
        <label for="titlu">Titlu</label>
        <input
          type="text"
          class="form-control"
          id="titlu"
          formControlName="titlu"
        />
      </div>
      <div class="form-group">
        <label for="descriere">Descriere</label>
        <input
          type="text"
          class="form-control"
          id="descriere"
          formControlName="descriere"
        />
      </div>
      <div class="form-group">
        <label for="locatie">Locatie</label>
        <input
          type="text"
          class="form-control"
          id="locatie"
          formControlName="locatie"
        />
      </div>
      <div class="form-group">
        <label for="pret_per_noapte">Pret per noapte</label>
        <input
          type="number"
          class="form-control"
          id="pret_per_noapte"
          formControlName="pret_per_noapte"
        />
      </div>
      <div class="form-group">
        <label for="numar_locuri">Numar locuri disponibile</label>
        <input
          type="number"
          class="form-control"
          id="numar_locuri"
          formControlName="numar_locuri"
        />
      </div>
      <div class="form-group">
        <label for="imagine">Imagine</label>
        <input
          type="text"
          class="form-control"
          id="imagine"
          formControlName="imagine"
        />
      </div>
      <div class="form-group">
        <label for="procent_reducere">Procent reducere</label>
        <input
          type="number"
          class="form-control"
          id="procent_reducere"
          formControlName="procent_reducere"
        />
      </div>
      <br />
      <button
        class="btn btn-primary"
        type="submit"
        [disabled]="!addDestinateForm.valid"
      >
        Adaugă destinație
      </button>
      <span class="px-2"></span>
      <button
        class="btn btn-secondary ml-2"
        type="button"
        (click)="cancelAdd()"
      >
        Anulează
      </button>
    </form>
  </div>

  <button
    type="button"
    class="btn btn-secondary"
    *ngIf="!isAddingDestination"
    (click)="toggleAddMode()"
  >
    Adaugă destinație
  </button>
  <br />
  <hr />

  <div class="row card-deck">
    <div class="col-md-4 mb-3" *ngFor="let destinatie of destinatii">
      <div class="card">
        <div class="card-header" style="font-size: 14px">
          {{ destinatie.titlu }}
        </div>
        <div class="card-body" style="padding: 0.5rem">
          <div *ngIf="!isEditMode || selectedDestination !== destinatie">
            <div class="text-center">
              <p style="font-size: 12px">
                {{ destinatie.descriere }}
              </p>
            </div>
            <hr />
            <div class="text-center">
              <p style="font-size: 12px">
                <i class="bi bi-people"></i> Locuri disponibile:
                {{ destinatie.numar_locuri }}
              </p>
            </div>
            <hr />
            <div class="col">
              <div class="col image-container clickable">
                <img [src]="destinatie.imagine" alt="Image" class="img-fluid" />
              </div>
              <hr />
            </div>
            <div class="text-center">
              <p style="font-size: 12px">
                <i class="bi bi-geo-alt"></i> {{ destinatie.locatie }} ,
                <i class="bi bi-currency-euro"></i
                >{{ destinatie.pret_per_noapte }},
                {{ destinatie.procent_reducere }}% reducere
              </p>
              <button
                type="button"
                class="btn btn-danger btn-sm"
                (click)="onDeleteDestination(destinatie.id)"
              >
                <i class="bi bi-trash"></i>
              </button>
              <span class="px-1"></span>
              <button
                type="button"
                class="btn btn-secondary btn-sm"
                (click)="toggleEditMode(destinatie)"
              >
                <i class="bi bi-pencil"></i>
              </button>
            </div>
          </div>

          <!-- Formularul de editare -->
          <div *ngIf="isEditMode && selectedDestination === destinatie">
            <form
              [formGroup]="editDestinateForm"
              (ngSubmit)="onEditDestinatie(selectedDestination.id)"
            >
              <div class="form-group">
                <label for="titlu">Titlu</label>
                <input
                  type="text"
                  class="form-control"
                  id="titlu"
                  formControlName="titlu"
                />
              </div>
              <div class="form-group">
                <label for="descriere">Descriere</label>
                <input
                  type="text"
                  class="form-control"
                  id="descriere"
                  formControlName="descriere"
                />
              </div>
              <div class="form-group">
                <label for="locatie">Locatie</label>
                <input
                  type="text"
                  class="form-control"
                  id="locatie"
                  formControlName="locatie"
                />
              </div>
              <div class="form-group">
                <label for="pret_per_noapte">Pret per noapte</label>
                <input
                  type="number"
                  class="form-control"
                  id="pret_per_noapte"
                  formControlName="pret_per_noapte"
                />
              </div>
              <div class="form-group">
                <label for="numar_locuri">Numar locuri disponibile</label>
                <input
                  type="number"
                  class="form-control"
                  id="numar_locuri"
                  formControlName="numar_locuri"
                />
              </div>
              <div class="form-group">
                <label for="procent_reducere">Procent reducere</label>
                <input
                  type="number"
                  class="form-control"
                  id="procent_reducere"
                  formControlName="procent_reducere"
                />
              </div>
              <div class="form-group">
                <label for="imagine">Imagine</label>
                <input
                  type="text"
                  class="form-control"
                  id="imagine"
                  formControlName="imagine"
                />
              </div>
              <button
                class="btn btn-secondary"
                type="submit"
                [disabled]="!editDestinateForm.valid"
              >
                Save Changes
              </button>
              <span class="px-1"></span>
              <button
                type="button"
                class="btn btn-danger"
                (click)="cancelEdit()"
              >
                Cancel
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
