<div class="container mt-5">
    <h2 class="text-center title">Contact</h2>
    <br>
  
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <h3 class="sub-title">Informații de contact generale</h3>
        <p>Adresă poștală: Pack&Go Inc.,Romania, Cluj-Napoca,strada Observatorului, nr.1 USA</p>
        <p>Număr de telefon general al companiei: +40 781 880 500</p>
  
        <h3 class="sub-title">Ai nevoie de ajutor?</h3>
        <p>Ai o întrebare despre recenzia ta sau ai probleme cu rezervarea hotelului, zborului sau activității/atractiei?</p>
        <p>Vrem să te ajutăm! Știai că aproape orice întrebare legată de serviciul nostru poate fi rezolvată vizitând centrul nostru de ajutor ușor de utilizat?</p>
        <p>Dacă ai nevoie în continuare de suport, vizitează pagina noastră de întrebări generale și cineva din echipa noastră de suport clienți Pack&Go va răspunde în cel mai scurt timp posibil!</p>
  
        <h3 class="sub-title">Solicitarile de ștergere a datelor</h3>
        <p>Respectarea drepturilor de protecție a datelor ale utilizatorilor noștri este de o importanță deosebită pentru Pack&Go. În conformitate cu legislația aplicabilă, ai dreptul la acces, rectificare, obiecție/ștergere, restricționare a prelucrării și portabilitatea datelor. Pentru a-ți exercita drepturile, te rugăm să depui o solicitare făcând clic aici.</p>
  
        <h3 class="sub-title">Profesioniști în călătorii</h3>
        <h4 class="sub-title">Întrebări de vânzări:</h4>
        <p>Pentru întrebări de vânzări privind publicitatea sau vânzările de afișare, te rugăm să ne contactezi aici.</p>
        <p>Pentru întrebări de vânzări privind un hotel sau un restaurant pe care îl deții, te rugăm să ne contactezi aici.</p>
  
        <h4 class="sub-title">Proprietari de listare de hotel, aeriană, restaurant sau atracție?</h4>
        <p>Obține listat: Proprietarii de hoteluri, linii aeriene, restaurante, atracții și resurse de călătorii interesați de o listare GRATUITĂ pe Pack&Go, vă rugăm să citiți informații generale sau să trimiteți o listare sub "Obține listat pe Pack&Go".</p>
        <p>Probleme sau întrebări legate de listări: Dacă întâmpini dificultăți sau ai alte întrebări referitoare la listări sau recenzii, apasă aici pentru suport.</p>
  
        <h3 class="sub-title">Contacte de presă</h3>
        <p>Pentru solicitări de ștergere a datelor, apasă aici. Pentru membrii media sau analiștii de industrie care caută informații suplimentare despre Pack&Go sau pentru a programa un interviu cu un membru al echipei noastre de management, te rugăm să contactezi:</p>
        <p class="text-bold">America de Nord:</p>
        <p><a href="mailto:northamericapr@pack&go.com">northamerica</a></p>
  
        <p class="text-bold">Europa, Orientul Mijlociu și Africa:</p>
        <p><a href="mailto:emeapressoffice@pack&go.com">emeapressoffice</a></p>
  
        <p class="text-bold">Asia-Pacific:</p>
        <p><a href="mailto:apacpr@pack&go.com">apacpr</a></p>
      </div>
    </div>
  </div>
  