<div class="main-container">
  <div class="full-width-image-container">
    <img
      src="https://images.unsplash.com/photo-1507525428034-b723cf961d3e?q=80&w=2073&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
      alt="Full Width Image"
    />
  </div>

  <div class="image-overlay">
    <h2 class="overlay-text">
      Explorați locuri magice cu agenția de turism Pack&Go!
    </h2>
    <p class="overlay-sub-text">
      Aceasta oferă experiențe de călătorie personalizate organizate de
      consilierii noștri certificați. Descoperă aventuri unice create doar
      pentru tine.
    </p>
    <h3 class="overlay-text">Explorați extraordinarul cu Pack&Go !</h3>
  </div>

  <div class="second-container">
    <br />
    <br />
    <h2 class="text">Ce facem noi</h2>
    <hr class="hr" />
    <p class="sub-text">
      Cu ajutorul nostru te vei bucura de o vacanta fara griji. Vei lasa
      problemele acasa si te vei relaxa la maxim.
    </p>
    <br />
    <br />
    <br />
    <div class="image-container">
      <img src="../../assets/animale.PNG" alt="Imagine 1" />
      <img src="../../assets/drumetii.PNG" alt="Imagine 2" />
      <img src="../../assets/pentruCopii.PNG" alt="Imagine 3" />
      <img src="../../assets/sport.PNG" alt="Imagine 4" />
    </div>
  </div>

  <div class="third-container">
    <br />
    <br />
    <div class="image-container2">
      <img src="../../assets/img5.PNG" alt="Imagine 1" />
      <img src="../../assets/img6.PNG" alt="Imagine 2" />
      <img src="../../assets/img7.PNG" alt="Imagine 3" />
      <img src="../../assets/img8.PNG" alt="Imagine 4" />
      <img src="../../assets/img9.PNG" alt="Imagine 4" />
      <img src="../../assets/img10.PNG" alt="Imagine 4" />
      <img src="../../assets/img3.PNG" alt="Imagine 2" />
      <img src="../../assets/img4.PNG" alt="Imagine 4" />
    </div>
  </div>
</div>
